.headerStyle{
    background-color:#1d1919;
    color : white;
    min-width: 200px;
    max-width: 200px;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px; 
    text-decoration: none ; 
}
.headerItemStyle{
    margin-left: 25px;
    padding-left: 3px;
    margin-top: 5px;
    cursor: pointer;
    text-decoration: none;
    
}
.headerItemStyle:hover{
    background-color:lavender;
    color: black;
}
.headerItemStyle:visited{
    color: white;
}
.profileImgStyle{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./background-photo.jpg');
}
.imageRoundedStyle{
    border-radius: 50%;

}
.listStyle{
    list-style: none;
    padding-left: 0px;
}
.listItemStyle{
    border-bottom: solid 0.5px grey ;
    padding: 10px; 
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

