.itemsStyle{
    padding-left: 10px;
    margin-top: 10px;

    width: 318px;

    border: black 2px solid;
    background-color: #5CC8BE;
    font-family: sans-serif;
}

.subtitle {
    font-weight: 600;
    font-style: italic;
    font-family: sans-serif;
    color: #D2DED6;
}