.itemStyle{
    padding-left: 10px;
    margin-top: 10px;

    width: 318px;

    border: black 2px solid;
    background: #0CCB52;
}

.subtitle {
    font-weight: 600;
    font-style: italic;
    font-family: sans-serif;
    color: #D2DED6;
}
.editButtonParentStyle{
    display: flex;
    justify-content: flex-end;
    margin: 5px
}